html {
	font-family: sans-serif;
}

.container {
	padding-top: 30px;
	margin: auto;
	width: 600px;
}

.logo {
	margin: auto;
	width: 410px;
	text-align: center;
}

.photo {
	margin: auto;
	width: 410px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bio {
	margin: auto;
	width: 410px;
	text-align: center;
	font-size: medium;
}

.social {
	margin: auto;
	width: 410px;
	text-align: center;
}